* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem; /* Altura de la barra de navegación */
    background-color: #fff9d9; /* Color del fondo  b9ffae */ 
    display: flex;
    justify-content: center; /* Alinear contenido en el centro */
    align-items: center;
    padding: 0 2rem; /* Espacio lateral */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1000; /* Asegura que esté sobre el contenido */
}

.navbar .ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
    font-size: 1rem;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: #ff4141;
}
a:hover{
    color: #df1717;
}

/* En lugar de margin-top, usamos padding-top */
body {
    padding-top: 4rem; /* Espacio igual a la altura de la navbar */
}
main{
    background-color: #fffef4;
    width: 100%;
    height: 200%;
    padding-bottom: 11rem;
    padding: 40px;
}

h1{
    color:  #ff4141;
    font-size: 5.125rem;
}
#footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10.75rem;
    background-color: #fff8a5;
    font-size: 1.25rem;
    color: #ff4141;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#informacion {
    margin: 2.125rem;
    color: #ff4141;
    background-color: #ffffff; /* Fondo claro para mejor legibilidad */
    width: 100%;
    max-width: 25rem; /* Ancho máximo para evitar que sea demasiado grande en pantallas grandes */
    padding: 25px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para destacar el formulario */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaciado consistente entre los elementos del formulario */
    font-size: 1rem; /* Fuente accesible */
}
#informacion h2{
    text-align: center;
    color: #920922;
    font-size: 2rem; /* Fuente accesible */
}


#login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 350px;
    position: absolute; /* Para permitir su centrado */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el formulario */
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido del formulario al centro */
}

#loginForm input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%; /* Asegura que los inputs ocupen todo el ancho del contenedor */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.swiper {
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    object-fit: cover;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.toastify{
    color: #ffffff;
    background: #47cc32 !important;
}
.sendBoton, #botonSubmit, #product-list button, #productListVerduras button, #productListOtros button, #loginForm button, #logoutButton, .eliminar-producto, #realizarCompra {
    background-color: #ff4141;
    color: #efdbdb;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sendBoton:hover,#botonSubmit:hover, .eliminar-producto:hover, #product-list button:hover, #productListVerduras button:hover, #logoutButton, #productListOtros button:hover, #loginForm button:hover, #realizarCompra:hover {
    background-color: #920922;
    color: white;
}
#realizarCompra {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    background-color: #47cc32; 
    padding: 1.5rem 3rem;
    font-size: 1.5rem; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto; 
    width: fit-content; 
}

#realizarCompra:hover {
    background-color: #3ca028; 
    transform: scale(1.05); 
}

#realizarCompra:active {
    background-color: #358c23; 
    transform: scale(1); 
}

#cartItems div{
    margin: 3px;
    border: .0625rem solid rgb(173, 169, 169);
    border-radius: 40px;
    font-size: large;
    font-weight: bold;
    color: #920922;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eliminar-producto{
    margin-right: 50px;
}
#totalCarrito p{
    padding-right: 50px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #473838;
    display: flex;
    justify-content: end;
    align-items: center;
}
#buscadorFruta, #buscadorVerduras, #buscador {
    width: 100%;
    max-width: 400px; /* Ancho máximo */
    height: 2.5rem; /* Altura del input */
    padding: 0 15px; /* Espaciado interno horizontal */
    font-size: 1rem; /* Tamaño de texto */
    border: 1px solid #ccc; /* Borde tenue */
    border-radius: 25px; /* Bordes redondeados */
    outline: none; /* Elimina el borde azul al hacer clic */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    background-color: #f9f9f9; /* Fondo claro */
}

/* Ajustes para hacer responsivo el input */
@media (max-width: 768px) {
    #buscadorVerduras, #buscador, #buscadorFruta{
        max-width: 300px; /* Reduce el ancho en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    #buscadorVerduras, #buscador, #buscadorFruta {
        max-width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    }
}

/* PRODUCTOS!!!*/
/* Estilo del contenedor de cada producto */
.producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto-imagen {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 5px;
}

.producto-nombre {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

.producto-cantidad {
    padding: 5px;
    font-size: 1rem;
    width: 60px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.producto-boton {
    background-color: #ff4141;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto-boton:hover {
    background-color: #920922;
}

/****Contenedor de productos ****/
#productListVerduras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
#productListOtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
#cartItems p{
    padding: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #775353;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Responsive */
@media (max-width: 768px) {
    .navbar .ul {
        gap: 1rem;
        font-size: 0.875rem;
    }

    #mainPrincipal {
        padding: 0.5rem;
    }
    #cartItems div p{
        margin: 3px;
        font-size: 1rem;
        font-weight: bold;
        color: #920922;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .navbar {
        height: 3rem;
    }

    .navbar .ul {
        font-size: 0.75rem;
    }

    #footer {
        font-size: 1rem;

    }
    #cartItems div{
        margin: 3px;
        border: .0625rem solid rgb(173, 169, 169);
        border-radius: 30px;
        font-size: .5rem;
        font-weight: bold;
        color: #920922;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
