* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #a1f594;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}
a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    font-weight: bold;
    text-decoration: none;
    color: rgb(246, 78, 40);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
main .imgMain{
    width: 100%;
    height: 100%;;
    
}
#nombreLocal{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(246, 78, 40);
    font-size: 4.5rem;
}

/* Contenedor de productos */
#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos individuales para cada producto */
#product-list div {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#product-list p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

#product-list button {
    background-color: rgb(246, 78, 40);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#product-list button:hover {
    background-color: rgb(187, 76, 51);
}
/* Contenedor de productos */
#productListVerduras {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos individuales para cada producto */
#productListVerduras div {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#productListVerduras p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

#productListVerduras button {
    background-color: rgb(246, 78, 40);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#productListVerduras button:hover {
    background-color: rgb(187, 76, 51);
}


